
$hr_background : #171717; //black
$hr_fontColor1: #c6c6c6; //pinkish-grey

$hr_gray1: #FFFFFF; // used in title-page font color & border of different sections.

// $greyish-brown: #454545;
// $ice-blue: #f9fcff;
// $urquoise: #0bc29f;
// $bright-sky-blue: #00b1ff;
// $dark-blue-grey: #1f2a55;
// $azul: #2564ee;
// $black: #171717;